.grid {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
  gap: 1px;
  margin: 0 auto;
  border: 3px solid #000000;
}

/* Style individual cells */
.grid input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #0a0a0a;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s;
}

.grid input.filled {
  background-color: #6ad8fc;
  color: white;
}

/* Change border for 3x3 sections */
.grid input:nth-child(3n + 1) {
  border-left: 3px solid #000000;
}

.grid input:nth-child(3n) {
  border-right: 3px solid #000000;
}

.grid input:nth-of-type(n + 19):nth-of-type(-n + 27),
.grid input:nth-of-type(n + 46):nth-of-type(-n + 54),
.grid input:nth-of-type(n + 73):nth-of-type(-n + 81) {
  border-bottom: 3px solid #000000;
}

.grid input:nth-of-type(-n + 9),
.grid input:nth-of-type(n + 28):nth-of-type(-n + 36),
.grid input:nth-of-type(n + 55):nth-of-type(-n + 63) {
  border-top: 3px solid #000000;
}
